@{
	ViewData["Title"] = "Native Plants in Forest Park";
}

<h1>Native Plants in Forest Park</h1>
<p style="text-align:center;">
	Here you can explore the Northwest native plants that live in Forest Park.
</p>
<p style="text-align:center;font-weight:bold;">
    <a asp-area="" asp-controller="Home" asp-action="PlantsByType">Explore Plants by Type</a>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="PlantsByHabitat">Explore Plants by Habitat</a>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="PlantsBySoilPreference">Explore Plants by Soil Preference</a>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="PlantsByShadePreference">Explore Plants by Shade Preference</a>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="PlantsByUse">Explore Plants by Speical Use</a>
    <br />
</p>
